<%- include("./layouts/header.ejs") %> 
    <section style="background-color: #eee;">
        <div class="container py-5 mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://images.cults3d.com/8OWKFqd-Qk3M1E2ImZp_O2Y6x4I=/516x516/https://files.cults3d.com/uploaders/22153232/illustration-file/56a6b33b-5fb5-4ba9-8408-2ab5c826e4db/st%2Csmall%2C507x507-pad%2C600x600%2Cf8f8f8.jpg"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">Đăng Khoa</h5>
                            <p class="text-primary font-weight-bold text-warning mb-4">1.000.000 VNĐ</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="../views/recharge.ejs">
                                    <button type="submit" class="btn btn-outline-primary mr-2">Nạp tiền</button>
                                </a>
                                <a href="../views/withdraw-money.ejs">
                                    <button type="submit" class="btn btn-outline-primary">Rút tiền</button>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <p class="text-primary font-weight-bold text-danger mb-4 mt-4">Chờ xác minh tài khoản
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- form card cc payment -->
                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <h3 class="text-center">Mua thẻ điện thoại</h3>
                            <hr>
                            <!-- <div class="alert alert-info p-2 pb-3">
                                <a class="close font-weight-normal initialism" data-dismiss="alert" href="#"><samp>&times;</samp></a> 
                                CVC code is required.
                            </div> -->
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group row">
                                    <label class="col-md-12">Chọn thẻ</label>
                                    <div class="col-md-4">
                                        <select class="form-control mt-1" name="nha_mang" size="0">
                                            <option selected>Nhà mạng</option>
                                            <option value="Viettel">Viettel</option>
                                            <option value="Mobifone">Mobifone</option>
                                            <option value="Vinaphone">Vinaphone</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control mt-1" name="menh_gia" size="0">
                                            <option selected>Mệnh giá</option>
                                            <option value="10">10,000 VNĐ</option>
                                            <option value="20">20,000 VNĐ</option>
                                            <option value="50">50,000 VNĐ</option>
                                            <option value="100">100,000 VNĐ</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control mt-1" name="so_luong" size="0">
                                            <option selected>Số lượng</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="fee" class="col-md-12">Tổng tiền</label>
                                </div>
                                <div class="row" id="fee">
                                    <div class="font-weight-bold col-6 text-center">250,000 VNĐ</div>
                                    <div class="col-6 m-auto text-center">Phí dịch vụ: 0 VNĐ</div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <button type="reset" class="btn btn-secondary btn-lg btn-block">Thoát</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="../views/phone-card-details.ejs">
                                            <button type="submit" class="btn btn-success btn-lg btn-block">Mua</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card cc payment -->
                </div>
            </div>
        </div>
        <%- include("./layouts/footer.ejs") %> 