<%- include("./layouts/header.ejs") %> 
    <br><br>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <span class="anchor" id="formChangePassword"></span>
                        <hr class="mb-5">
                        <!-- form card change password -->
                        <div class="card card-outline-secondary">
                            <div class="card-header " style="background-color: #583bce;">
                                <h3 class="mb-0" style="color: #fff;">Quên mật khẩu</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off">
                                    <div class="form-group">
                                        <label for="inputPasswordNew">Email</label>
                                        <input type="password" class="form-control" id="inputPasswordNew" required=""
                                            placeholder="Nhập email">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="password" class="form-control" id="phone"
                                            pattern="(?=.*\d)(?=.*[0-9]).{10,11}"
                                            title="Must contain at least 10 or 11 number" required=""
                                            placeholder="Nhập số điện thoại">
                                    </div>
                                    <div class="form-group">
                                        <label for="OTP">Mã OTP</label>
                                        <div class="row col-12">
                                            <div class="col-9 p-0"> <input type="password" class="form-control" id="OTP"
                                                    pattern="(?=.*\d)(?=.*[0-9]).{6}" title="Must contain at 6 char"
                                                    required="" placeholder="Nhập mã OTP"></div>
                                            <div class="col-3">
                                                <button type="submit" class="btn btn-primary btn-md">Lấy mã</button>
                                            </div>
                                        </div>
                                        <span class="form-text small text-muted">
                                            Để đổi mật khẩu mới, vui lòng điền đầu đủ thông tin
                                        </span>
                                    </div>
                                    <div class="form-group d-flex justify-content-center">
                                        <a href="../views/change-password-first.ejs" class="text-decoration-none">
                                            <button type="submit" class="btn btn-success btn-md float-right">Kiểm tra mã
                                                OTP</button>
                                        </a>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /form card change password -->
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
        </div>
    </div>
    <!--/container-->
    <%- include("./layouts/footer.ejs") %> 